@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #00aaa8;
  --bg-light: #d1f2eb;
  --bg-dark: #45b39d;
  --bg-footer-text: rgb(133, 89, 255);
  --text-black: #222;
  --text-white: #fff;
  --text-link: #29d9d5;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  --nav-height: 80px;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  color: #111;
  overflow-x: hidden;
}

#body_content {
  display: none;
}

section {
  padding: 3rem 9%;
}

a {
  text-decoration: none;
}

.page-banner-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-1 {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 5%;
  padding-bottom: 0;
  background: var(--text-black);
}

.header-1 {
  border-bottom: 0.1rem solid orange;
  border-top: 0.1rem solid orange;
}

.header-1 span {
  color: var(--bg-dark);
  font-size: 2.5rem;
}

.header-1 p {
  display: inline-block;
  padding-right: 2rem;
  font-size: 1.5rem;
  color: #fff;
}

.header-1 p i {
  color: orange;
}

.header-1 .auth1 p {
  padding-right: 0.2rem;
}

.header-1 .auth1 a {
  font-size: 1.5rem;
  color: #29d9d5;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 1rem;
  background-color: inherit;
  border: 0;
  text-decoration: none;
}

.header-1 a:hover {
  color: orange;
  text-decoration: none;
}

.heading-link {
  background: url(../../images/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: capitalize;
}

.heading-link h3 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.5em;
  text-transform: capitalize;
  padding-top: 2px;
  margin-bottom: 1rem;
  font-weight: 300;
}

.heading-link p {
  font-size: 1.6rem;
  color: var(--main-color);
  padding-top: 0.5rem;
}

.heading-link p a {
  padding-right: 0.5rem;
  color: indigo;
}

.heading-link p a:hover {
  padding-right: 0.5rem;
  color: var(--blue);
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  border: 0.1rem solid var(--main-color);
  /* background: var(--bg-light); */
  color: var(--bg-dark);
  cursor: pointer;
  text-transform: capitalize;
  /* border-radius: 5rem; */
}

.btn:hover {
  background: var(--main-color);
  color: var(--bg-light);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5%;
  background: var(--main-color);
  text-transform: capitalize;
  height: var(--nav-height);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}

.header .logo img {
  height: 50%;
}

.header .logo h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  margin-top: 15px;
  margin-left: auto;
  text-align: top;
  display: inline-block;
  vertical-align: top;
}

.header .navbar {
  position: relative;
  text-decoration: none;
}

.header .navbar ul {
  list-style: none;
  float: right;
  margin-right: 0;
  position: relative;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  padding: 1rem;
  display: block;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
  text-decoration: none;
}

.header .navbar ul li a.btn {
  padding: 2rem;
  display: block;
  font-size: 1.5rem;
  background: #9af5a2;
  color: #000;
  margin-top: 1rem;
  /*margin-bottom: 1rem;*/
  padding: 1rem 1rem;
}

.header .navbar ul li a:hover {
  /* color: var(--text-link); */
  color: orange;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: var(--main-color);
  display: none;
  float: left;
}

.header .navbar ul li ul li {
  width: 100%;
  background: var(--main-color);
  color: #111;
}

.header .navbar ul li ul li a {
  color: #fff;
}

.header .navbar ul li ul li a:hover {
  background-color: var(--text-link);
  color: #fff;
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}


.header .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
}

#menu-btn {
  cursor: pointer;
  color: var(--bg-light);
  font-size: 2.5rem;
  display: none;
}

#account-btn {
  cursor: pointer;
  color: var(--bg-light);
  font-size: 2.5rem;
  position: relative;
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.5;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

.title-text h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #00aaa8;
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 35px;
  margin-bottom: 2rem;
  font-weight: 500;
}

.title-text h1:before {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 30%;
  left: 50%;
  margin-left: -15%;
  height: 2px;
  content: '';
  background-color: #00aaa8;
  z-index: 4;
}

.title-text h1:after {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: 0px;
  content: '\1F52F';
  font-size: 15px;
  line-height: 40px;
  color: #00aaa8;
  font-weight: 400;
  z-index: 5;
  display: block;
  background-color: #fff;
}

.faq .accordion-container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.faq .accordion-container .accordion {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  border: 0.1rem solid #93e6e5;
  margin-bottom: 5px;
}

.faq .accordion-container .accordion p {
  margin-bottom: 0px;
}

.faq .accordion-container .accordion.active .accordion-heading {
  background: #93e6e5;
}

.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: indigo;
}

.faq .accordion-container .accordion.active .accordion-heading i {
  color: indigo;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordion-content {
  background: var(--bg-light);
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #0eb582;
}

.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #0eb582;
  display: none;
}

/*===== All Preloader Title Style =====*/

.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  /* Change Background Color */
  background: #fdfdfd;
  z-index: 9999;
}

.preloader .spin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.preloader .spin .cube1,
.preloader .spin .cube2 {
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  -moz-animation: sk-cubemove 1.8s infinite ease-in-out;
  -o-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.preloader .spin .cube2 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  -o-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* CSS Keyframe Animation */

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -moz-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -ms-transform: translateX(42px) rotate(-90deg) scale(0.5);
    -o-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -moz-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -ms-transform: translateX(42px) translateY(42px) rotate(-180deg);
    -o-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -moz-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -ms-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -o-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  z-index: 1;
}

.popup img {
  width: 70px;
  margin-top: -35px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h5 {
  font-size: 2.5rem;
  margin: 30px 0 30px;
}

.popup p {
  font-size: 1.7rem;
  margin-top: 20px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: var(--main-color);
  color: #fff;
  border: 0;
  outline: none;
  font-size: 1.7rem;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup a.button {
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  padding: 10px 0;
  background: var(--main-color);
  color: #fff;
  border: 0;
  outline: none;
  font-size: 1.7rem;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-decoration: none;
}

.btn_form_status {
  display: inline-block;
  padding: 10px 0;
  background: var(--main-color);
  color: #fff;
  border: 0;
  outline: none;
  font-size: 1.7rem;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  text-decoration: none;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-fixed {
  width: 100%;
}

/*This will work on every browser*/

.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 80px;
  z-index: 9999999;
  background-color: var(--bg-light);
  /* background-color: #6c757d; */
  border: 1px solid #6c757d;
  color: #111;
}

table.table-bordered {
  border: 0.1rem solid #0eb582;
  /* margin-top: 20px; */
}

table.table-bordered>thead>tr>th {
  background: #93e6e5;
  border: 0.1rem solid #0eb582;
  font-size: 1.7rem;
  text-align: center;
  color: var(--main-color);
  padding: 0.5rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
}

table.table-bordered>tbody>tr>td {
  border: 0.1rem solid #0eb582;
  /* text-align: center; */
}