



html,
body {
  font-family: Roboto;
  /* overflow: hidden; */
}

.sm-txt {
  font-size: 12px;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #343a40;
  z-index: 99;
  top: 0;
  left: 0;
  padding-top: 25%;
  text-align: center;
  opacity: 5;
  overflow: hide;
}


/* img {
  border-radius: 50%;
} */

img>img-no-border-radius {
  border-radius: 50%;
}

.navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  color: inherit;
}

.navbar-nav .nav-item.active,
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  /* color: #6bb2ff; */
  color: inherit;
}

.navbar-nav .nav-item.active .dropdown-menu .dropdown-item.active {
  background-color: rgb(153, 49, 49);
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  a.nav-logo {
    display: none;
  }

  .nav-head {
    content: 'Lingraj Law College';
    font-size: 22px;
  }

  .nav-subhead {
    display: none;
  }
}

.dropdown-menu {
  background-color: #fff;
}

.dropdown-menu>a {
  color: black;
}

.dropdown-menu>a:hover {
  background-color: #17a2b8;
  background-image: none;
  color: white;
}

.dark-mode>dropdown-menu>a:hover {
  background-color: #17a2b8;
  background-image: none;
  color: white;
}

.sidebar .nav {
  font-size: 12px;
  font-family: 'Roboto';
  z-index: inherit;
  text-transform: uppercase;
  /* font-weight: 500; */
}

.sidebar .nav a:hover {
  color: #ffffffe3 !important;
  background: #17a2b8 !important;
  transform: 0.02;
}

.sidebar .nav .active {
  color: #ffffff !important;
  background: #17a2b8 !important;
}

[class*='sidebar-dark-'] .nav-flat .nav-item .nav-treeview>.nav-item>.nav-link.active {
  border-color: red;
  background: darkslateblue;
}

.nav-tabs .nav-item .nav-link {
  border: 0.5px solid rgba(192, 192, 192, 0.336);
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-right: 2px;
  border-bottom: 3px solid #17a2b8;
  /* border-top: 5px solid #17a2b8; */
}

.nav-tabs .nav-item .nav-link:hover {
  color: red;
}

.nav-tabs .nav-item .nav-link.active {
  background: #17a2b8 !important;
  border-bottom: 3px solid red;
  color: white;
}

.tab-content .tab-pane {
  border: 1px solid lightgray;
  min-height: 300px;
  height: auto;
  padding: 10px;
}

Label {
  margin-bottom: 0px;
  font-size: 0.9em;
  color: #2e2e2ed8;
  font-weight: 400 !important;
}

.form-check-label {
  margin-bottom: 0px;
  font-size: 0.9em;
  color: #2e2e2ed8;
  font-weight: 400 !important;
}

.required:after {
  content: ' *';
  color: red !important;
  font-weight: 30px;
  font-size: inherit;
}

.error-text {
  font-size: small;
}

#toast-container>.toast {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

a.underline {
  color: red;
  text-decoration: none;
  border-bottom: 1px solid green;
}

/* textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
.select2-selection,
.uneditable-input {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: black;
} */

/* textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.select2-selection:focus,
.uneditable-input:focus {
  border: 1px solid #17a2b8 !important;
  outline: 0 none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: black;
  background-color: #17a3b821 !important;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: whitesmoke !important;
}


/*Change text in autofill textbox*/

input:-webkit-autofill {
  -webkit-text-fill-color: whitesmoke !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled],
form-control[placeholder] {
  border: 1px solid #17a2b8 !important;
  background-color: #fff;
  opacity: 1;
  cursor: not-allowed;
}

.form-control[disabled]:focus,
.form-control[readonly]:focus,
fieldset[disabled]:focus,
form-control[placeholder]:focus {
  border: 1px solid rgb(221, 221, 221) !important;
  background-color: #fff;
  opacity: 1;
  cursor: not-allowed;
  border: none;
}

.select2-dropdown--above {
  border: 1px solid #17a2b8 !important;
  border-bottom: none !important;
}

.select2-dropdown--below {
  border: 1px solid #17a2b8 !important;
  border-top: none !important;
}

span.select2-selection[aria-expanded='true'] {
  border: 1px solid #17a2b8 !important;
}

.select2-selection,
.form-control {
  font-size: 0.9em;
  font-weight: 500;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #404c57;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

.select2-container--open {
  z-index: 99999999999999;
}


/* .select2-results { background-color: #00f; } */

.dataTables_scrollHeadInner,
.table {
  width: 100% !important;
  font-size: 14px;
  font-weight: 400 !important;
  font-family: 'Roboto';
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  /* background-color: #000; */
  background-color: #333;
}

.dataTable.table-sm>thead>tr>th[class*='sort']:after {
  content: '' !important;
}

.dataTable.table-sm>thead>tr>th[class*='sort']:before {
  content: '' !important;
}

table.dataTable.table-sm thead>tr>th.sorting_asc,
table.dataTable.table-sm thead>tr>th.sorting_desc,
table.dataTable.table-sm thead>tr>th.sorting,
table.dataTable.table-sm thead>tr>td.sorting_asc,
table.dataTable.table-sm thead>tr>td.sorting_desc,
table.dataTable.table-sm thead>tr>td.sorting {
  padding-right: inherit;
}

.pagination .page-item.active .page-link:hover {
  /* background-color: #000; */
  background-color: #111;
}

.pagination .page-item.active .page-link {
  /* background-color: #000; */
  background-color: #333;
  border-color: #6c757d;
}

.bootstrap-datetimepicker-widget table td.today:before,
.bootstrap-datetimepicker-widget table td.today:after {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: red;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}


.bootstrap-datetimepicker-widget.dropdown-menu {
  border-color: #17a2b8 !important;
  border-width: 1px;
  /* color: grey !important; */
}



.bootstrap-datetimepicker-widget table td.today {
  background-color: #17a2b8 !important;
}

.btn-sm {
  text-transform: uppercase;
  font-size: 14px;
}

.error {
  color: tomato;
  font-size: 0.8rem;
  height: 10px;
  text-align: center;
  background-color: #f8dddd;
}

.my-swal {
  display: -webkit-box;
  display: flex;
  position: fixed;
  z-index: 9999;
}

.hide_me {
  display: none !important;
}


/* align input box center of the div  */

.center-block {
  display: grid;
  place-items: center;
}


/* .modal-dialog {
  overflow-y: initial !important;
}



.modal-body {
  max-height: 75vh;
  overflow-y: auto;
} */

.modal-title {
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
}


/* draw line both side of text */

line_both_side {
  position: relative;
  font-size: 14px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

line_both_side:before,
line_both_side:after {
  position: absolute;
  top: 35%;
  overflow: hidden;
  width: 20%;
  height: 25%;
  content: '\a0';
  background-color: red;
}

line_both_side:before {
  margin-left: -20%;
  text-align: right;
}

.color {
  background-color: #ccc;
  text-align: center;
}

.select::part(listbox) {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid red;
  border-radius: 5px;
}

.box {
  /* background-color: lightgrey; */
  width: 300px;
  border: 5px solid darkslategray;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.table-fixed {
  width: 100%;
}


/*This will work on every browser*/

.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 45px;
  z-index: 999;
  background-color: #383f45;
  /* background-color: #6c757d; */
  color: #fff;
}

.table-fixed-tab {
  width: 100%;
}


/*This will work on every browser*/

.table-fixed-tab thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
  background-color: #383f45;
  /* background-col
  or: #6c757d; */
  color: #fff;
}

.tab {
  overflow: hidden;
  background: transparent;
  padding: 0px 6px;
  padding-right: 6px;
  margin: 3px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #444;
}


/* Style the buttons inside the tab */

.tab button {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #00aaa749;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: normal;
  color: darkgoldenrod;
  margin: 0px;
  border: 1px solid #00aaa775;
  border-top-right-radius: 2rem;
  /* min-width: 200px; */
  justify-content: space-between;
  text-align: left;
}


/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #00aaa8;
  color: white;
}


/* Create an active/current tablink class */

.tab button.active {
  background-color: #00aaa8;
  border-left: 5px solid orangered;
  color: white;
}


/* Style the tab content */

.tabcontent,
.tabcontentmodal {
  display: none;
  padding: 3px 6px;
  border: 1px solid #444;
  border-top: none;
}

.swal2-popup {
  font-size: 0.9rem !important;
  font-family: Roboto, serif;
}



.datepicker{

}

.datepicker.dropdown-menu {
  background-color: #0088ff !important;
  color: #fff !important;
  border: none;
  padding: 2px !important;
  background-image: linear-gradient(to bottom, #0088ff 0%, #0088ff 100%), linear-gradient(to bottom, cyan 0%, cyan 100%);
  background-clip: content-box, padding-box;
  display: block;
}

.datepicker td,
.datepicker th {
  text-align: center;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
  background: #eee;
  cursor: pointer;
  color: white !important;
  background-image: linear-gradient(#90caf9, #002a80) !important;
}

.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
  background: #3546b3;
  color: #ffffff;
  border-radius: 4px;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: #eee;
  color: #eee;
  background-image: linear-gradient(#90caf9, #002a80) !important;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #08c, #002a80);
  background-image: -ms-linear-gradient(to bottom, #08c, #002a80);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#002a80));
  background-image: -webkit-linear-gradient(to bottom, #08c, #002a80);
  background-image: -o-linear-gradient(to bottom, #08c, #002a80);
  background-image: linear-gradient(to bottom, #08c, #002a80);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
  border-color: #002a80 #002a80 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

td.today.day,
span.month.focused,
span.year.focused,
span.decade.focused,
span.century.focused {
	color: #fff !important;
  background-image: linear-gradient(#90caf9, #002a80) !important;
}

td.day:hover,
span.month:hover,
span.year:hover,
span.decade:hover,
span.century:hover {
  background: #eee;
  cursor: pointer;
  color: white !important;
  background-image: linear-gradient(#90caf9, #002a80) !important;
}


td.active.day,
span.month.active,
span.year.active,
span.decade.active,
span.century.active {
	color: #fff !important;
  background-image: linear-gradient(#90caf9, #002a80) !important;
}


div.dt-button.buttons-columnVisibility.active {
  background: black !important;
}


.sticky-offset {
  margin-top: 80px;
}


#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
.lds-ripple .lds-pos {
  position: absolute;
  border: 2px solid #2962ff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite;
}
.lds-ripple .lds-pos:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


